.projects {
    width: 30vw;
    padding-left: 5rem;
    padding-top: 2rem;
    color: white;
    font-family: 'Circular Std', sans-serif;
    font-size: larger;

}

.projects-container {
    background-color: #121212;
    width: 86vw;
    height: 80vh;
    float:right;
    overflow: hidden;

}

.bottom-bar {
    justify-content: space-between;
    padding: 18px 24px;
    max-width: 1000px;
    margin: auto;
}

.bottom-bar .bottom-text, .bottom-bar .copyright, .bottom-bar .icons {
    width: auto;
}

.icons, .icons a {
    
    justify-content: center;
}

.project-cards {
    position: relative;
}

button {
    all: unset;
    cursor: pointer;
}

.modal {
    background-color: #121212;
    color: white;
    border-radius: 10px;
    font-family: 'Circular Std', sans-serif;
}
.modal-head {
    padding-top: 40px;
    height: 1.5rem;
    font-size: 30px;
    background-color: #121212;
    font-weight: bolder;
    border-radius: 10px;
    text-align: left;
    padding-left: 40px;
  }

  .modal-content {
    padding: 40px;
    height: 30rem;
  }

  .popup-content {
    margin: auto;
    width: 50%;
    padding: 5px;
   
  }

  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }

  .modal-para {
    line-height: 25px;
    margin-bottom: 35px;
  }

  .chain {
    height: 3rem;
    width: 5rem;
    padding-bottom: 8px;
    color: white;
  }



  .C-item {
    height: 10rem;
    width: 10rem;
  }